<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>


    <style type="text/css">
      body {
        background-color: #f9f9f9;
      }
    </style>

    {% endblock %}
</head>
<body>

    <div class="ui container" style="margin-top: 30px">
        {% include "components/messages.html" %}
        <div class="ui stackable secondary menu">
          <div class="item">
            <h1>
              <span style="font-size: 12px; display: block; margin: 0; padding: 0; line-height: 1;">Home Dashboard</span>
              <span>Control Panel</span>
            </h1>
          </div>
          <div class="right ui secondary menu">
            <div class="item">
              <span>Logged in as <strong>{{ session['username'] }}</strong></span>
            </div>
          </div>
        </div>
        
        <!-- <div class="ui grid"> -->
        <div class="ui stackable four column grid">
            <div class="five wide column">
              <div class="ui vertical fluid menu">
                <a href="/" class="item {% if page == "overview": %}active{% endif %}">
                  Overview
                </a>
                <a href="/display" class="item {% if page == "display": %}active{% endif %}">
                  Display
                </a>
                <a href="/services" class="item {% if page == "services": %}active{% endif %}">
                  Services
                </a>
                <a href="/logout" class="item">
                  Logout
                </a>
                <!-- <a href="/services" class="item {% if page == "services": %}active{% endif %}">
                  Services
                </a>
                <a href="/device_info" class="item {% if page == "device_info": %}active{% endif %}">
                  Device Info
                </a> -->
              </div>
            </div>
            <div class="eleven wide stretched column">
              <div class="ui segment">
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>
    </div>
    
</body>
</html>

<script type="text/javascript">

    $('.message .close')
        .on('click', function() {
            $(this)
            .closest('.message')
            .transition('fade');
        });
    
    $('.ui.dropdown').dropdown();

    $('.ui.radio.checkbox')
      .checkbox()

    $('.service-toggle').on('change', function() {
      $(this).closest('form').submit()
    })
        
</script>