<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
</head>
<body>

    <div class="ui container" style="margin-top: 30px">
        {% for message in get_flashed_messages(with_categories=True) %}
            <div class="ui message">
                <i class="close icon"></i>
                <div class="header">
                    message[0]
                </div>
                <p>{{ message[1] }}</p>
            </div>
        {% endfor %}
        <div class="ui grid">
            <div class="thirteen wide column">
                <h1>Home Dashboard</h1>
            </div>
            <div class="three wide column right aligned">
                <span>Logged in as <strong>{{ session['username'] }}</strong></span>
                <a href="/logout">Logout</a>
            </div>
        </div>
            
        <div class="ui grid">
            <div class="four wide column">
              <div class="ui vertical fluid tabular menu">
                <a href="/" class="item {% if page == "overview": %}active{% endif %}">
                  Overview
                </a>
                <a href="/display" class="item {% if page == "display": %}active{% endif %}">
                  Display
                </a>
                <a href="/services" class="item {% if page == "services": %}active{% endif %}">
                  Services
                </a>
                <a href="/device_info" class="item {% if page == "device_info": %}active{% endif %}">
                  Device Info
                </a>
              </div>
            </div>
            <div class="twelve wide stretched column">
              <div class="ui segment">
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>
    </div>
    
</body>
</html>

<script type="text/javascript">

    $('.message .close')
        .on('click', function() {
            $(this)
            .closest('.message')
            .transition('fade');
        });
        
</script>