<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
</head>
{% endblock%}
<body>

    {% block content %}{% endblock %}
    
</body>
</html>

<script type="text/javascript">

    $('.message .close')
        .on('click', function() {
            $(this)
            .closest('.message')
            .transition('fade');
        });

    $('document').ready(async () => {
      if ($('#restarting').length) {
        console.log('restarting loaded')

        $.ajax({
          url: '/restart',
          method: 'post',
        })

        await new Promise(r => setTimeout(r, 200));

        let timeout = setInterval(() => {
          $.ajax({
            url: '/',
            timeout: 500,
          })
            .done( (response, status) => {
              console.log('setting window location')
              window.location = '/after-restart'
            })
            .fail( error => {
              // Do nothing
              console.log(error)
            })
        }, 1000)
        
      }
      
    })
</script>