{% extends "layouts/guest-centered.html" %}
{% block title %}Login - Home Dashboard{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    
  </style>
{% endblock %}
{% block innercontent %}
  <h1>
    <span style="font-size: 14px; display: block; margin: 0; padding: 0; line-height: 1;">Home Dashboard</span>
    <span>Control Panel</span>
  </h1>
  <form class="ui large form" method="post">
    <input type=hidden name=username value="root">
    <div class="field">
      <input type=password name=password>
    </div>
    <button type=submit value=Login class="ui fluid large primary submit button">
      Login
    </button>
    
  </form>
{% endblock %}