{% extends "layouts/guest.html" %}
{% block title %}Login - Home Dashboard{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    
  </style>
{% endblock %}
{% block content %}
  <div class="ui centered grid">
    <div class="three wide column">
      <h1>Login</h1>
      <form class="ui form six wide" method="post">
        <input type=hidden name=username value="root">
        <div class="field">
          <input type=password name=password>
        </div>
        <button type=submit value=Login class="ui primary button">
          Login
        </button>
      </form>
    </div>
  </div>
{% endblock %}