{% extends "layouts/app.html" %}
{% block title %}Overview - Home Dashboard{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .statistics {
      padding: 20px 0 10px;
      border: 1px solid #e0e0e0;
      border-left: none;
      border-right: none;
      border-radius: 30px;
    }
    .statistic .label {
      margin-bottom: 10px;
    }
  </style>
{% endblock %}
{% block content %}

  <div class="ui grid container padded">
    <div class="eight wide column">
      <h2>Overview</h2>
    </div>
  </div>

  <div class="ui container" style="margin: 20px 0 30px">
    <div class="ui three stackable mini statistics">
      <div class="statistic">
        <div class="label">Uptime</div>
        <div class="value">
          <i class="arrow up icon"></i> {{ device_info.uptime }}
        </div>
      </div>
      <div class="statistic">
        <div class="label">Space Available</div>
        <div class="value">
            <i class="hdd icon"></i> {{ device_info.space_available }}
          </div>
      </div>
      <div class="statistic">
        <div class="label">Load Avg (15 min)</div>
        <div class="value">
            {{ device_info.load_average_fifteen_min }}
          </div>
      </div>
    </div>
  </div>
  
  <div class="ui stackable one column grid padded container">
    <div class="eight wide column">
      <h4>IP Address</h4>
      <div class="ui list">
        <div class="item">{{ device_info.ip_address }}</div>
      </div>
    </div>
    <div class="eight wide column">
      <h4>Display</h4>
      <div class="ui list">
        <div class="item"><strong>Screen Resolution:</strong> {{ display.resolution }}</div>
        <div class="item"><strong>Template:</strong> {{ display.template }}</div>
      </div>
    </div>
    <div class="eight wide column">
      <h4>Services</h4>
      <div class="ui list">
        {% for service in services %}
        <a href="/services/{{ service.service }}" class="item">
          <i class="{% if service['enabled'] %} checkmark {% else %} ban {% endif %} icon"></i> {{ service.name }}
        </a> 
        {% endfor %}
      </div>
    </div>
    <div class="eight wide column">
      <h4>Links</h4>
      <div class="ui list">
        <a class="item" href="https://github.com/aalcala07/home_dashboard" target="_blank">Github Repository</a>
        <a class="item" href="https://homedashboard.aalcala.com/" target="_blank">Documentation</a>
      </div>
    </div>
  </div>

{% endblock %}