{% extends "layouts/app.html" %}
{% block title %}Restarting - Home Dashboard{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    
  </style>
{% endblock %}
{% block content %}
    <div id="restarting">
        <h1>Restarting System</h1>
        <p>Please wait...</p>
        <div class="ui active inline loader"></div>
    </div>

<!-- 
  - List device info like IP address, MAC address, uptime
  - List non display configs like API keys, lat/long, `UPDATE_ON_STARTUP`.
  - Allow user to change configs
   -->
   
{% endblock %}