{% extends "layouts/app.html" %}
{% block title %}Services - Home Dashboard{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    
  </style>
{% endblock %}
{% block content %}

    <div class="ui grid container padded">
        <div class="eight wide column">
            <div class="ui breadcrumb">
                <a href="/services" class="section">Services</a>
                <div class="divider"> / </div>
                <div class="active section">{{ service['name'] }}</div>
            </div>
            <h2>{{ service['name'] }}</h2>
            <p>{{ service['description'] }}</p>
        </div>
    </div>


    <div class="ui grid container padded" style="padding-top: 10px; padding-bottom: 15px">
        <form class="ui form" method="post">
            <div class="ui form">
                {% for config in service['configs'] %}
                <div class="inline fields">
                    <label for="configs[{{ config.name }}]" style="width: 200px">{{ config.label }}</label>

                    {% if config.type == 'bool' %}
                    <div class="field">
                        <div class="ui radio checkbox {% if config.value %} checked {% endif %}">
                        <input type="radio" name="configs[{{ config.name }}]" {% if config.value %} checked="" {% endif %} tabindex="0" class="hidden" value="1">
                        <label>Yes</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox {% if not config.value %} checked {% endif %}">
                        <input type="radio" name="configs[{{ config.name }}]" {% if not config.value %} checked="" {% endif %} tabindex="0" class="hidden" value="0">
                        <label>No</label>
                        </div>
                    </div>
                    {% else %}
                    <div class="field">
                        {% if config.type == 'int' %}
                        <input type="number" name="configs[{{ config.name }}]" step="0" value="{{ config.value }}">
                        {% elif config.type == 'float' %}
                        <input type="number" name="configs[{{ config.name }}]" step="0.01" value="{{ config.value }}">
                        {% else %}
                        <input type="text" name="configs[{{ config.name }}]" value="{{ config.value }}">
                        {% endif %}
                    </div>
                    {% endif %}
                    
                </div>
                {% endfor %}
            </div>
            <button type=submit class="ui primary button">
                Save and Restart
            </button>
        </form>
    </div>

<!--   
  - List active services
  - List inactive services
  - Allow changing service configurations
 -->
 
{% endblock %}