{% extends "layouts/app.html" %}
{% block title %}Services - Home Dashboard{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    
  </style>
{% endblock %}
{% block content %}
  <div class="ui grid container padded">
    <div class="eight wide column">
      <h2>Services</h2>
    </div>
  </div>

  <div class="ui grid container padded">
    <div class="ui relaxed divided list column">
    {% for service in services %}
      <div class="item" style="padding: 20px 0;">
        <i class="large {{ service['icon'] }} middle aligned icon"></i>
        <div class="content">
          <a href="{{ "/services/" + service['service'] }}" class="header ui small">{{ service['name'] }}</a>
          <div class="description">{{ service['description'] }}</div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

<!--   
  - List active services
  - List inactive services
  - Allow changing service configurations
 -->
 
{% endblock %}