{% extends "layouts/guest.html" %}
{% block title %}Start - Home Dashboard{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    
  </style>
{% endblock %}
{% block content %}
    <div class="ui centered grid">
      <div class="four wide column">
        <h1>Set Root Password</h1>
        <form class="ui form six wide" method="post">
          <div class="field">
            <input type=text name=password>
          </div>
          <button type=submit value=Login class="ui primary button">
            Login
          </button>
        </form>
      </div>
    </div>
{% endblock %}